<h2>Users</h2>

<% @users.each do |user| %>
  <div class="card card-header results-block">
    <table class="col-md-12">
      <tbody>
        <tr>
          <% if user.name != current_user.name %>
            <td><strong>Name: </strong><%=h user.name %></td>
            <td><strong>Email: </strong><%=h user.email %></td>
            <% if current_user.not_friends_with?(user.id) %>
              <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
            <% else %>
              You are friends
            <% end %>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
