<h1>Users</h1>

<% @users.each do |user| %>

    <% if user.name != current_user.name %>
      <%=h user.name %>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
    <% end %>

<% end %>
