<h2>Current User Details</h2>

<div class="card card-header results-block">
  <table class="col-md-12">
    <tbody>
      <tr>
        <td><strong>Name: </strong> <%= @user.name %></td>
        <td><strong>Email: </strong> <%= @user.email %></td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Friends</h2>

<% @friends.each do |friend| %>
  <div class="card card-header results-block">
    <table class="col-md-12">
      <tbody>
        <tr>
          <td><strong>Name: </strong> <%= friend.name %></td>
          <td><strong>Email: </strong> <%= friend.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
