<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
    <a><%= link_to "Make Friends", users_path, class: "text-white" %></a> |
    <a><%= link_to "My Friends", { :controller => "users", :action => "show", :id => current_user }, class: "text-white" %></a>
    </div>
</footer>
